@charset "UTF-8";
@font-face {
  font-family: "Helvetica Light";
  src: url(../fonts/3a74c169-76ee-4223-b4b4-aac92e8da5ec.eot?#iefix);
  src: url(../fonts/3a74c169-76ee-4223-b4b4-aac92e8da5ec.eot?#iefix) format("eot"), url(../fonts/37953885-0443-4c72-a693-9152a9f5a901.woff2) format("woff2"), url(../fonts/fcce277c-07e2-4c88-ad8b-a71b484e2cbe.woff) format("woff"), url(../fonts/315bbeb9-a30f-4f38-91ae-d6cfbbf89437.ttf) format("truetype"), url(../fonts/507e1538-09ae-429d-a77c-b0fd539aea7f.svg#507e1538-09ae-429d-a77c-b0fd539aea7f) format("svg"); }

@font-face {
  font-family: "Helvetica Roman";
  src: url(../fonts/05598d95-f297-4c7f-a825-ab617e7e045f.eot?#iefix);
  src: url(../fonts/05598d95-f297-4c7f-a825-ab617e7e045f.eot?#iefix) format("eot"), url(../fonts/89294146-207c-4803-91fe-338f0d0094bd.woff2) format("woff2"), url(../fonts/57055fe4-c2d3-4287-bac2-eece43fdcbd3.woff) format("woff"), url(../fonts/2922d55c-8df4-4066-b7b0-eec2d1524330.ttf) format("truetype"), url(../fonts/f8343ddf-e94d-471e-95b0-3b435acc2499.svg#f8343ddf-e94d-471e-95b0-3b435acc2499) format("svg"); }

@font-face {
  font-family: "Helvetica Bold";
  src: url(../fonts/05f47e74-d17c-45af-86c3-8ab878fd4ec7.eot?#iefix);
  src: url(../fonts/05f47e74-d17c-45af-86c3-8ab878fd4ec7.eot?#iefix) format("eot"), url(../fonts/7ce0a2f5-eb00-46aa-919c-5b3f3667646c.woff2) format("woff2"), url(../fonts/cad22c74-45b4-4c49-9e6a-0cd3768a7bc7.woff) format("woff"), url(../fonts/8ebb9b04-d12d-488e-aa96-0bb6e6777336.ttf) format("truetype"), url(../fonts/7672ef16-fedc-4b60-8337-04b537a6ada5.svg#7672ef16-fedc-4b60-8337-04b537a6ada5) format("svg"); }

@font-face {
  font-family: "Kepler Light";
  src: url(../fonts/a4ec7da0-ca9a-416b-a700-425452f252a7.eot?#iefix);
  src: url(../fonts/a4ec7da0-ca9a-416b-a700-425452f252a7.eot?#iefix) format("eot"), url(../fonts/98e934ab-32f6-4dbe-a1b6-29d83db213a7.woff2) format("woff2"), url(../fonts/37b5fdda-cf5d-420d-b37c-768be98f8d34.woff) format("woff"), url(../fonts/183e15db-1ff1-43ec-aa95-519343e51aef.ttf) format("truetype"), url(../fonts/3501148f-425e-4d8f-8e6c-7bd05e2ae41f.svg#3501148f-425e-4d8f-8e6c-7bd05e2ae41f) format("svg"); }

@font-face {
  font-family: "Kepler Regular";
  src: url(../fonts/771eeaca-9a1e-4187-a312-5595d0f50e48.eot?#iefix);
  src: url(../fonts/771eeaca-9a1e-4187-a312-5595d0f50e48.eot?#iefix) format("eot"), url(../fonts/7467db73-0168-4c95-b79b-4d5d6e80168a.woff2) format("woff2"), url(../fonts/10d5fc2c-8305-41ba-819e-2a21768f55f9.woff) format("woff"), url(../fonts/7d640a8e-eb57-4e6f-9d25-0989dd7c9e6b.ttf) format("truetype"), url(../fonts/236a68b6-2675-430a-861c-ae2a383ee6df.svg#236a68b6-2675-430a-861c-ae2a383ee6df) format("svg"); }

@font-face {
  font-family: "Kepler Semibold";
  src: url(../fonts/7bb78030-9409-46d7-81cc-31640cdf2486.eot?#iefix);
  src: url(../fonts/7bb78030-9409-46d7-81cc-31640cdf2486.eot?#iefix) format("eot"), url(../fonts/88145fa3-f754-41ff-89a7-4518dcd689a7.woff2) format("woff2"), url(../fonts/ebc0a5b7-edf8-4e33-a0e3-9dcde51e3631.woff) format("woff"), url(../fonts/bdfcf764-ebf8-4964-906c-23016768ade9.ttf) format("truetype"), url(../fonts/aceb4785-a95c-4dd2-b8ac-2817cbadd13c.svg#aceb4785-a95c-4dd2-b8ac-2817cbadd13c) format("svg"); }

@font-face {
  font-family: "Kepler Bold";
  src: url(../fonts/36ad174f-f569-434b-880d-8e702cc70e8e.eot?#iefix);
  src: url(../fonts/36ad174f-f569-434b-880d-8e702cc70e8e.eot?#iefix) format("eot"), url(../fonts/cfd24c55-bf7c-4d70-a143-cb6f95995435.woff2) format("woff2"), url(../fonts/268cf38b-c581-42ea-ba21-3838ee40c06f.woff) format("woff"), url(../fonts/7ef0f560-a605-43c9-abe5-0628ab4eb453.ttf) format("truetype"), url(../fonts/ded7d620-a15d-48c2-8b15-b7a7043ff1f4.svg#ded7d620-a15d-48c2-8b15-b7a7043ff1f4) format("svg"); }

@font-face {
  font-family: "Kepler Bold Italic";
  src: url(../fonts/79c2bab8-0bb6-4b11-ab86-7e6a0a2777bc.eot?#iefix);
  src: url(../fonts/79c2bab8-0bb6-4b11-ab86-7e6a0a2777bc.eot?#iefix) format("eot"), url(../fonts/60707b31-9d46-42be-ab7c-a27d2beae892.woff2) format("woff2"), url(../fonts/304b2244-56b0-4ecb-82dc-e1f6204e60cd.woff) format("woff"), url(../fonts/e08d2b28-cc6c-46f2-91ec-3059a16fbbbd.ttf) format("truetype"), url(../fonts/7e091ed5-eef6-4ab0-9fe8-68326c17d33b.svg#7e091ed5-eef6-4ab0-9fe8-68326c17d33b) format("svg"); }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  overflow-x: hidden;
  position: relative; }

h1, h2, h3, p, ul {
  margin-bottom: 30px; }

ul {
  padding: 0; }
  ul li {
    padding-left: 20px;
    list-style-type: none;
    margin-bottom: 15px;
    position: relative; }
    ul li:before {
      content: '';
      width: 5px;
      height: 5px;
      background: #0083ec;
      border-radius: 100%;
      position: absolute;
      top: 5px;
      left: 0; }

a, input, button, textarea {
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out; }

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: '←'; }

[dir='rtl'] .slick-prev:before {
  content: '→'; }

.slick-next {
  right: -25px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: '→'; }

[dir='rtl'] .slick-next:before {
  content: '←'; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black; }

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto; }

.nice-select:hover {
  border-color: #dbdbdb; }

.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #999; }

.nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: '';
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 5px; }

.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0); }

.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none; }

.nice-select.disabled:after {
  border-color: #cccccc; }

.nice-select.wide {
  width: 100%; }

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important; }

.nice-select.right {
  float: right; }

.nice-select.right .list {
  left: auto;
  right: 0; }

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px; }

.nice-select.small:after {
  height: 4px;
  width: 4px; }

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px; }

.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9; }

.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6; }

.nice-select .option.selected {
  font-weight: bold; }

.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default; }

.no-csspointerevents .nice-select .list {
  display: none; }

.no-csspointerevents .nice-select.open .list {
  display: block; }

/*----- FONTS -----*/
/*----- COLORS -----*/
/*----- MIXINS -----*/
.gradient {
  background: #88ca1f;
  background: -webkit-linear-gradient(top, #88ca1f 0%, #00601b 100%);
  background: linear-gradient(to bottom, #88ca1f 0%, #00601b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88ca1f', endColorstr='#00601b', GradientType=0); }

h1, h2, h3, h4, p, ul, li {
  margin-top: 0;
  font-weight: normal; }

h1 {
  font-family: "Kepler Bold";
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 0;
  position: relative;
  border-bottom: 1px solid #ed453d;
  padding-bottom: 40px;
  margin-bottom: 60px; }
  h1:after {
    content: '';
    width: 150px;
    height: 3px;
    background: #ed453d;
    position: absolute;
    left: 0;
    bottom: -4px; }

h2 {
  font-family: "Helvetica Roman";
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.25px;
  color: #3047d3;
  margin-bottom: 0; }

h3 {
  font-family: "Kepler Semibold";
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.85px;
  margin-bottom: 40px;
  color: #ed453d; }

p {
  font-family: "Kepler Light";
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0;
  margin-bottom: 50px; }
  p:last-child {
    margin-bottom: 0; }

a {
  text-decoration: none;
  cursor: pointer !important; }
  a:hover {
    color: #000; }

a, button, input, textarea, svg {
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out; }

img {
  max-width: 100%; }

html {
  overflow-x: hidden; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  overflow-x: hidden;
  position: relative;
  font-weight: normal;
  color: #191919; }

section {
  display: block;
  width: 100%;
  float: left;
  clear: both;
  position: relative; }

.desktop-only {
  display: block; }
  @media (max-width: 1199px) {
    .desktop-only {
      display: none; } }

.mobile-only {
  display: none !important; }
  @media (max-width: 767px) {
    .mobile-only {
      display: block !important; } }

*:focus {
  outline: 0; }

.container {
  width: 1170px;
  margin: auto;
  float: none;
  display: block; }
  @media (max-width: 1199px) {
    .container {
      width: 970px; } }
  @media (max-width: 991px) {
    .container {
      width: 710px; } }
  @media (max-width: 767px) {
    .container {
      width: calc(100% - 60px); } }

/*----- HEADER -----*/
header {
  background: #191919;
  padding-left: 2.6vw;
  padding-top: 2.34vw;
  padding-bottom: 2vw;
  width: 100vw;
  float: left;
  min-height: 8.44vw;
  z-index: 9999;
  position: relative; }
  header .logo {
    width: 18.48vw;
    float: left;
    margin-right: 7.8vw; }
  header .menu-toggle {
    display: none; }
  header #menu-header {
    width: 53vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    margin-right: 2.9vw;
    position: relative;
    top: 2.34vw; }
    header #menu-header li {
      padding: 0;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      position: relative; }
      header #menu-header li:before {
        display: none; }
      header #menu-header li:after {
        content: '';
        width: 3px;
        height: 3px;
        background: #fff;
        border-radius: 100%;
        position: absolute;
        right: 0;
        top: 5px; }
      header #menu-header li:last-child:after {
        display: none; }
    header #menu-header a {
      font-family: "Helvetica Roman";
      font-size: 0.78vw;
      line-height: 1;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      color: #fff;
      display: block;
      text-align: center;
      position: relative; }
      header #menu-header a:hover {
        color: #3047d3; }
    header #menu-header .menu-item-has-children a:after {
      content: '';
      width: .57vw;
      height: 0.31vw;
      background: url(../images/nav-arrow.png) center center no-repeat;
      background-size: cover;
      position: absolute;
      right: .94vw;
      top: 4px; }
    header #menu-header .sub-menu {
      display: none;
      min-width: 225px;
      position: absolute;
      padding-top: 40px; }
      header #menu-header .sub-menu li {
        margin: 0;
        display: block; }
        header #menu-header .sub-menu li:after {
          display: none; }
      header #menu-header .sub-menu a {
        text-align: left;
        font-size: 0.73vw;
        background: #fff;
        color: #191919;
        border-bottom: 1px solid #d2d2d2;
        padding: 21px 24px;
        display: block; }
        header #menu-header .sub-menu a:after {
          display: none; }
        header #menu-header .sub-menu a:hover {
          background: #ed453d;
          color: #fff; }
  header .phone {
    position: relative;
    width: 15.1vw;
    float: left; }
    header .phone a {
      font-family: "Kepler Bold";
      font-size: 2.08vw;
      line-height: 1;
      letter-spacing: 0.5px;
      color: #fff;
      display: block; }
    header .phone span {
      font-family: "Kepler Bold";
      font-size: 0.83vw;
      line-height: 1;
      letter-spacing: 2.9px;
      color: #ed453d;
      text-transform: uppercase;
      position: relative; }
      header .phone span:before {
        content: '';
        width: 100%;
        height: 1px;
        background: #37393c;
        display: block;
        margin: 10px 0 13px -10px; }

/*----- FOOTER -----*/
footer {
  width: 100%;
  float: left; }
  footer .footer-form {
    background: #191919;
    color: #fff;
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 65px;
    padding-right: 65px;
    width: 46vw;
    float: left;
    overflow-x: hidden; }
    footer .footer-form .title {
      font-family: "Kepler Bold";
      font-size: 70px;
      line-height: 70px;
      letter-spacing: 0.4px;
      margin-bottom: 35px; }
      footer .footer-form .title span {
        display: block;
        position: relative; }
        footer .footer-form .title span:after {
          content: '';
          width: 100%;
          height: 1px;
          position: absolute;
          background: #363636;
          top: 37px;
          -webkit-transform: translateX(23px);
                  transform: translateX(23px); }
        footer .footer-form .title span:last-child:after {
          right: 100%;
          -webkit-transform: translateX(8.2vw);
                  transform: translateX(8.2vw); }
        footer .footer-form .title span i {
          font-family: "Kepler Bold Italic";
          color: #ed453d;
          margin-left: 185px; }
    footer .footer-form .tagline {
      font-size: 17px;
      letter-spacing: .2px; }
  footer .gform_wrapper {
    margin: 0;
    width: 100%;
    float: left; }
    footer .gform_wrapper .gfield_label {
      display: none; }
    footer .gform_wrapper li {
      padding: 0;
      width: 48%;
      margin-right: 4%;
      float: left; }
      footer .gform_wrapper li:after {
        content: '';
        width: 4px;
        height: 4px;
        background: #3047d3;
        position: absolute;
        top: 25px;
        border-radius: 100%;
        right: 25px; }
      footer .gform_wrapper li:nth-child(even) {
        margin-right: 0; }
      footer .gform_wrapper li:before {
        display: none; }
      footer .gform_wrapper li#field_1_6 {
        width: 100%; }
      footer .gform_wrapper li#field_1_7 {
        display: none; }
    footer .gform_wrapper input, footer .gform_wrapper textarea {
      width: 100%;
      font-family: "Helvetica Light";
      font-size: 15px;
      line-height: 1;
      letter-spacing: 2px;
      color: #fff;
      background: #252525;
      border: 1px solid #3f3f3f;
      padding: 18px 10px;
      position: relative; }
    footer .gform_wrapper textarea {
      height: 275px; }
    footer .gform_wrapper ::-webkit-input-placeholder {
      color: #fff;
      text-transform: uppercase; }
    footer .gform_wrapper :-moz-placeholder {
      color: #fff;
      text-transform: uppercase; }
    footer .gform_wrapper :-ms-input-placeholder {
      color: #fff;
      text-transform: uppercase; }
    footer .gform_wrapper input[type=submit] {
      display: block;
      width: 290px;
      clear: both;
      background: #ed453d;
      border: 0;
      font-family: "Helvetica Roman";
      font-size: 23px;
      line-height: 1;
      letter-spacing: 1.1px;
      text-transform: lowercase;
      padding: 20px 0; }
      footer .gform_wrapper input[type=submit]:hover {
        background: #3047d3; }

/*----- BANNER -----*/
.banner {
  background: url(../images/int-image.png) center center no-repeat;
  background-size: cover;
  padding-top: 95px;
  padding-left: 145px;
  padding-bottom: 135px;
  min-height: 500px; }
  .banner .title {
    font-family: "Kepler Bold";
    font-size: 85px;
    line-height: 92px;
    letter-spacing: 0;
    color: #fff;
    width: 830px;
    margin-bottom: 30px; }
  .banner a {
    font-family: "Helvetica Light";
    font-size: 25px;
    line-height: 1;
    letter-spacing: 1.1px;
    text-transform: lowercase;
    color: #fff;
    display: block;
    width: 420px;
    background: #ed453d;
    text-align: center;
    padding: 23px 0;
    position: relative; }
    .banner a span {
      font-family: "Kepler Bold Italic"; }
    .banner a:after {
      content: '';
      width: 420px;
      height: 70px;
      background: transparent;
      border: 1px solid #fff;
      position: absolute;
      right: -28px;
      bottom: -17px;
      z-index: 1; }

/*----- INTERNAL PAGES - GLOBAL -----*/
.page-content {
  width: 100%;
  float: left;
  padding-top: 175px;
  padding-left: 125px;
  padding-right: 125px;
  padding-bottom: 225px; }
  .page-content ul {
    margin-left: 0;
    margin-bottom: 50px; }
    .page-content ul li {
      font-family: "Helvetica Light";
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0;
      font-style: italic;
      margin-bottom: 30px;
      list-style-type: none;
      padding-left: 30px;
      position: relative; }
      .page-content ul li:before {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 100%;
        position: absolute;
        left: 0;
        top: 8px;
        background: #ed453d; }
  .page-content a {
    color: #ed453d; }
  .page-content .column {
    float: left; }
  .page-content .main-content {
    width: 60%;
    margin-right: 8%; }
  .page-content .sidebar {
    width: 32%; }
    .page-content .sidebar .menu-wrap {
      box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.4); }
    .page-content .sidebar .pa-title {
      font-family: "Kepler Bold";
      font-size: 50px;
      line-height: 30px;
      letter-spacing: 0.4px;
      color: #fff;
      background: #191919;
      text-align: center;
      padding: 45px 0; }
    .page-content .sidebar li {
      padding: 0;
      margin: 0;
      font-style: normal; }
      .page-content .sidebar li:before {
        display: none; }
    .page-content .sidebar a {
      font-family: "Helvetica Roman";
      font-size: 16px;
      line-height: 1;
      letter-spacing: 0.25px;
      color: #191919;
      border-bottom: 1px solid #d7d7d7;
      display: block;
      padding: 22px 0 22px 48px;
      cursor: pointer; }
      .page-content .sidebar a:hover {
        background: #ed453d;
        color: #fff; }
    .page-content .sidebar .sub-menu {
      display: none;
      margin: 0; }
      .page-content .sidebar .sub-menu a {
        background: #3047d3;
        color: #fff; }
