@font-face {
  font-family: 'Playfair Display Regular';
  src: url(../fonts/PlayfairDisplay-Regular.woff2) format('woff2'),
  url(../fonts/PlayfairDisplay-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display Bold';
  src: url(../fonts/PlayfairDisplay-Bold.woff2) format('woff2'),
  url(../fonts/PlayfairDisplay-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald Light';
  src: url(../fonts/Oswald-Light.woff2) format('woff2'),
  url(../fonts/Oswald-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald Extra Light';
  src: url(../fonts/Oswald-ExtraLight.woff2) format('woff2'),
  url(../fonts/Oswald-ExtraLight.woff) format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald Regular';
  src: url(../fonts/Oswald-Regular.woff2) format('woff2'),
  url(../fonts/Oswald-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald Medium';
  src: url(../fonts/Oswald-Medium.woff2) format('woff2'),
  url(../fonts/Oswald-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Regular';
  src: url(../fonts/Lato-Regular.woff2) format('woff2'),
  url(../fonts/Lato-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Light';
  src: url(../fonts/Lato-Light.woff2) format('woff2'),
  url(../fonts/Lato-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url(../fonts/Lato-Bold.woff2) format('woff2'),
  url(../fonts/Lato-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}


