// Variables go here
$desktop-max: 1199px;
$tablet: 991px;
$mobile: 767px;

// FONTS
$l: 'Lato Regular';
$ll: 'Lato Light';
$lb: 'Lato Bold';
$ol: 'Oswald Light';
$ox: 'Oswald Extra Light';
$or: 'Oswald Regular';
$om: 'Oswald Medium';
$pr: 'Playfair Display Regular';
$pb: 'Playfair Display Bold';

$light: #269198;
$dark: #205053;
$black: #222222;
$orange: #de5a20;
$grey: #ebebeb;