@import 'base/fonts';
@import 'base/variables';
@import 'base/normalize';
@import 'base/global';
@import 'base/animate';
@import 'plugins/slick';
@import 'plugins/slick-theme';
@import 'plugins/nice-select';

/*----- FONTS -----*/
$hr: "Helvetica Roman";
$hl: "Helvetica Light";
$hb: "Helvetica Bold";
$k: "Kepler Regular";
$kl: "Kepler Light";
$ks: "Kepler Semibold";
$kb: "Kepler Bold";
$kbi: "Kepler Bold Italic";

/*----- COLORS -----*/
$black: #191919;
$red: #ed453d;
$blue: #3047d3;

/*----- MIXINS -----*/
@mixin font($font-family, $font-size, $line-height, $letter-spacing) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

.gradient {
  background: #88ca1f;
  background: -moz-linear-gradient(top, #88ca1f 0%, #00601b 100%);
  background: -webkit-linear-gradient(top, #88ca1f 0%, #00601b 100%);
  background: linear-gradient(to bottom, #88ca1f 0%, #00601b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88ca1f', endColorstr='#00601b', GradientType=0);

}

h1, h2, h3, h4, p, ul, li {
  margin-top: 0;
  font-weight: normal;
}

h1 {
  @include font($kb, 60px, 60px, 0);
  position: relative;
  border-bottom: 1px solid $red;
  padding-bottom: 40px;
  margin-bottom: 60px;
  &:after {
    content: '';
    width: 150px;
    height: 3px;
    background: $red;
    position: absolute;
    left: 0;
    bottom: -4px;
  }
}

h2 {
  @include font($hr, 22px, 36px, .25px);
  color: $blue;
  margin-bottom: 0;
}

h3 {
  @include font($ks, 20px, 36px, .85px);
  margin-bottom: 40px;
  color: $red;
}

p {
  @include font($kl, 20px, 36px, 0);
  margin-bottom: 50px;
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
  cursor: pointer !important;
  &:hover {
    color: #000;
  }
}

a, button, input, textarea, svg {
  transition: all .3s ease-in-out;
}

img {
  max-width: 100%;
}

html {
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  overflow-x: hidden;
  position: relative;
  font-weight: normal;
  color: $black;
}

section {
  display: block;
  width: 100%;
  float: left;
  clear: both;
  position: relative;
}

.desktop-only {
  display: block;
  @media (max-width: 1199px) {
    display: none;
  }
}

.mobile-only {
  display: none !important;
  @media(max-width: 767px) {
    display: block !important;
  }
}


* {
  &:focus {
    outline: 0;
  }
}

.container {
  width: 1170px;
  margin: auto;
  float: none;
  display: block;
  @media (max-width: 1199px) {
    width: 970px;
  }
  @media (max-width: 991px) {
    width: 710px;
  }
  @media (max-width: 767px) {
    width: calc(100% - 60px);
  }
}

/*----- HEADER -----*/
header {
  background: $black;
  padding-left: 2.6vw;
  padding-top: 2.34vw;
  padding-bottom: 2vw;
  width: 100vw;
  float: left;
  min-height: 8.44vw;
  z-index: 9999;
  position: relative;
  .logo {
    width: 18.48vw;
    float: left;
    margin-right: 7.8vw;
  }
  .menu-toggle {
    display: none;
  }
  #menu-header {
    width: 53vw;
    display: flex;
    float: left;
    margin-right: 2.9vw;
    position: relative;
    top: 2.34vw;
    li {
      padding: 0;
      flex-grow: 1;
      position: relative;
      &:before {
        display: none;
      }
      &:after {
        content: '';
        width: 3px;
        height: 3px;
        background: #fff;
        border-radius: 100%;
        position: absolute;
        right: 0;
        top: 5px;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
    a {
      @include font($hr, .78vw, 1, .6px);
      text-transform: uppercase;
      color: #fff;
      display: block;
      text-align: center;
      position: relative;
      &:hover {
        color: #3047d3;
      }
    }
    .menu-item-has-children {
      a {
        &:after {
          content: '';
          width: .57vw;
          height: 0.31vw;
          background: url(../images/nav-arrow.png) center center no-repeat;
          background-size: cover;
          position: absolute;
          right: .94vw;
          top: 4px;
        }
      }
    }
    .sub-menu {
      display: none;
      min-width: 225px;
      position: absolute;
      padding-top: 40px;
      li {
        margin: 0;
        display: block;
        &:after {
          display: none;
        }
      }
      a {
        text-align: left;
        font-size: 0.73vw;
        background: #fff;
        color: $black;
        border-bottom: 1px solid #d2d2d2;
        padding: 21px 24px;
        display: block;
        &:after {
          display: none;
        }
        &:hover {
          background: $red;
          color: #fff;
        }
      }
    }
  }

  .phone {
    position: relative;
    width: 15.1vw;
    float: left;
    a {
      @include font($kb, 2.08vw, 1, .5px);
      color: #fff;
      display: block;
    }
    span {
      @include font($kb, 0.83vw, 1, 2.9px);
      color: $red;
      text-transform: uppercase;
      position: relative;
      &:before {
        content: '';
        width: 100%;
        height: 1px;
        background: #37393c;
        display: block;
        margin: 10px 0 13px -10px;
      }
    }
  }
}

/*----- FOOTER -----*/
footer {
  width: 100%;
  float: left;
  .footer-form {
    background: $black;
    color: #fff;
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 65px;
    padding-right: 65px;
    width: 46vw;
    float: left;
    overflow-x: hidden;
    .title {
      @include font($kb, 70px, 70px, .4px);
      margin-bottom: 35px;
      span {
        display: block;
        position: relative;
        &:after {
          content: '';
          width: 100%;
          height: 1px;
          position: absolute;
          background: #363636;
          top: 37px;
          transform: translateX(23px);
        }
        &:last-child {
          &:after {
            right: 100%;
            transform: translateX(8.2vw);
          }
        }
        i {
          font-family: $kbi;
          color: $red;
          margin-left: 185px;
        }
      }
    }
    .tagline {
      font-size: 17px;
      letter-spacing: .2px;
    }
  }
  .gform_wrapper {
    margin: 0;
    width: 100%;
    float: left;
    .gfield_label {
      display: none;
    }
    li {
      padding: 0;
      width: 48%;
      margin-right: 4%;
      float: left;
      &:after {
        content: '';
        width: 4px;
        height: 4px;
        background: $blue;
        position: absolute;
        top: 25px;
        border-radius: 100%;
        right: 25px;
      }
      &:nth-child(even) {
        margin-right: 0;
      }
      &:before {
        display: none;
      }
      &#field_1_6 {
        width: 100%;
      }
      &#field_1_7 {
        display: none;
      }
    }
    input, textarea {
      width: 100%;
      @include font($hl, 15px, 1, 2px);
      color: #fff;
      background: #252525;
      border: 1px solid #3f3f3f;
      padding: 18px 10px;
      position: relative;
    }
    textarea {
      height: 275px;
    }
    ::-webkit-input-placeholder {
      color: #fff;
      text-transform: uppercase;
    }
    :-moz-placeholder {
      color: #fff;
      text-transform: uppercase;
    }
    :-ms-input-placeholder {
      color: #fff;
      text-transform: uppercase;
    }
    input[type=submit] {
      display: block;
      width: 290px;
      clear: both;
      background: $red;
      border: 0;
      @include font ($hr, 23px, 1, 1.1px);
      text-transform: lowercase;
      padding: 20px 0;
      &:hover {
        background: $blue;
      }
    }
  }
}

/*----- BANNER -----*/
.banner {
  background: url(../images/int-image.png) center center no-repeat;
  background-size: cover;
  padding-top: 95px;
  padding-left: 145px;
  padding-bottom: 135px;
  min-height: 500px;
  .title {
    @include font($kb, 85px, 92px, 0);
    color: #fff;
    width: 830px;
    margin-bottom: 30px;
  }
  a {
    @include font($hl, 25px, 1, 1.1px);
    text-transform: lowercase;
    color: #fff;
    display: block;
    width: 420px;
    background: $red;
    text-align: center;
    padding: 23px 0;
    position: relative;
    span {
      font-family: $kbi;
    }
    &:after {
      content: '';
      width: 420px;
      height: 70px;
      background: transparent;
      border: 1px solid #fff;
      position: absolute;
      right: -28px;
      bottom: -17px;
      z-index: 1;
    }
  }
}

/*----- INTERNAL PAGES - GLOBAL -----*/
.page-content {
  width: 100%;
  float: left;
  padding-top: 175px;
  padding-left: 125px;
  padding-right: 125px;
  padding-bottom: 225px;
  ul {
    margin-left: 0;
    margin-bottom: 50px;
    li {
      @include font($hl, 16px, 20px, 0);
      font-style: italic;
      margin-bottom: 30px;
      list-style-type: none;
      padding-left: 30px;
      position: relative;
      &:before {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 100%;
        position: absolute;
        left: 0;
        top: 8px;
        background: $red;
      }
    }
  }
  a {
    color: $red;
  }
  .column {
    float: left;
  }
  .main-content {
    width: 60%;
    margin-right: 8%;
  }
  .sidebar {
    width: 32%;
    .menu-wrap {
      box-shadow: 1px 1px 50px rgba(0, 0, 0, .4);
    }
    .pa-title {
      @include font($kb, 50px, 30px, .4px);
      color: #fff;
      background: $black;
      text-align: center;
      padding: 45px 0;
    }
    li {
      padding: 0;
      margin: 0;
      font-style: normal;
      &:before {
        display: none;
      }
    }
    a {
      @include font($hr, 16px, 1, .25px);
      color: $black;
      border-bottom: 1px solid #d7d7d7;
      display: block;
      padding: 22px 0 22px 48px;
      cursor: pointer;
      &:hover {
        background: $red;
        color: #fff;
      }
    }
    .sub-menu {
      display: none;
      margin: 0;
      a {
        background: $blue;
        color: #fff;
      }
    }
  }

}