@import 'base/fonts';
@import 'base/variables';
@import 'base/normalize';
@import 'base/global';
@import 'base/animate';
@import 'plugins/slick';
@import 'plugins/slick-theme';

a, button, input, textarea, svg {
  transition: all .3s ease-in-out;
}

img {
  max-width: 100%;
}

html {
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  overflow-x: hidden;
  position: relative;
  font-weight: normal;
  color: $black;
}

section {
  display: block;
  width: 100%;
  float: left;
  clear: both;
  position: relative;
}

.desktop-only {
  display: block;
  @media (max-width: 1199px) {
    display: none;
  }
}

.mobile-only {
  display: none !important;
  @media(max-width: 767px) {
    display: block !important;
  }
}


* {
  &:focus {
    outline: 0;
  }
}

.container {
  width: 1170px;
  margin: auto;
  float: none;
  display: block;
  @media (max-width: 1199px) {
    width: 970px;
  }
  @media (max-width: 991px) {
    width: 710px;
  }
  @media (max-width: 767px) {
    width: calc(100% - 60px);
  }
}

/*----- INTERNAL PAGES - GLOBAL -----*/
.page-content {
  width: 100%;
  float: left;
  padding-top: 175px;
  padding-left: 125px;
  padding-right: 125px;
  padding-bottom: 225px;
  .column {
    float: left;
  }
  .main-content {
    width: 60%;
    margin-right: 8%;
  }
  .sidebar {
    width: 32%;
  }
}